<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>

<div>
    <form th:method="POST" th:action="@{/categories}" th:object="${category}" enctype="multipart/form-data">
        <input type="hidden" name="parentId" th:value="${parentId}">
        <label for="name">Enter name:</label>
        <input type="text" th:field="*{name}" id="name">
        <br>
        <label for="image">Image</label>
        <input type="file" id="image" name="imgFile" accept="image/*">
        <br>
        <label for="parentCategory">Parent Category</label>
        <input type="checkbox" id="parentCategory" th:field="category.parentCategory" value="true">
        <br>
        <input type="submit" value="Add"/>
    </form>
</div>

</body>
</html>