<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shops</title>
</head>
<body>

<div>
    <a th:method="GET" th:href="@{/categories}"> Back to categories</a>
</div>

<div>
    <form th:method="POST" th:action="@{/shops}" th:object="${info}" enctype="multipart/form-data">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name">
        <br>
        <label for="image">Image</label>
        <input type="file" id="image" name="imgFile" accept="image/*">
        <br>
        <input type="submit" value="Add">
    </form>
</div>

<br>

<div th:each="shop: ${shops}">
    <img th:src="@{${shop.imgLocation}}" th:alt="${shop.imgLocation}">
    <br>
    <p th:text="${shop.name}">
    <br>
    <form th:method="PUT" th:action="@{/shops/{shopId}(shopId = ${shop.shopId})}">
        <input type="submit" value="Remove"/>
    </form>
</div>

</body>
</html>